<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.cloud.admin.server.mapper.GatewayRouteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gx.cloud.admin.server.entity.GatewayRoute">
        <id column="route_id" property="routeId" />
        <result column="route_name" property="routeName" />
        <result column="path" property="path" />
        <result column="service_id" property="serviceId" />
        <result column="strip_prefix" property="stripPrefix" />
        <result column="url" property="url" />
        <result column="route_desc" property="routeDesc" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        route_id, route_name, path, service_id, strip_prefix, url, route_desc, create_time, update_time
    </sql>

</mapper>
